<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>********Choose a Mobile Company*********</h1>
    <h1><a href="/">STORE</a></h1>
    <h1><a href="/all_mobiles/">All Mobiles</a></h1>
    <h1><a href="/all_mobiles/samsung/">Samsung</a></h1>
    <h1><a href="/all_mobiles/nokia/">Nokia</a></h1>
    <h1><a href="/all_mobiles/xiaomi/">Xiaomi</a></h1>

</body>
</html>